//********************
// colors
//********************
$colorWhite: #ffffff;
$colorBlack: #333333;
$colorBlue: #316CF5;
$colorBlueDark: #000839;
$colorOrange: #F2B636;
$colorGreen: #15B0A0;
$colorGray: #C1C1C1;
$colorAmbar: #EDF0F7;
$colorUltraLightGray: #f2f5f9;